.font-size-normal{
    font-size: $fontInitial;
}

.font-size-label{
    font-size: $font2;
}

.font-size-thin{
    font-size: $font3;
}

.font-size-small{
    font-size: $font4;
}

.font-size-big{
    font-size: $font5;
}

.font-size-large{
    font-size: $font6;
}

.font-size-h2{
    font-size: $font7;
}

.font-size-h1{
    font-size: $font8;
}