$spacing1: 0.5rem;
$spacing2: 1rem;
$spacing3: 1.5rem;
$spacing4: 2rem;

$font1: 0.5rem;
$font2: 0.625rem;
$font3: 0.75rem;
$font4: 0.875rem;
$fontInitial: 1rem;
$font5: 1.125rem;
$font6: 1.25rem;
$font7: 1.375rem;
$font8: 1.5rem;

$colorPrimary: rgba(98, 0, 238, 1);
$colorPrimaryStrong: rgba(58, 0, 198, 1);
$background: rgba(200, 200, 200, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(30, 30, 30, 1);

$fontWeightThin:400;
$fontWeightInitial: 500;
$fontWeightBold: 700;
